.footer__container {
  max-width: 1170px;
  margin: auto;
}
.footer__row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.main__footer__container {
  background: linear-gradient(to right, #002c8f, #6caeeb);

  --mask: radial-gradient(67.08px at 50% 90px, #000 99%, #0000 101%)
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(67.08px at 50% -60px, #0000 99%, #000 101%) 50% 30px/120px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  padding: 50px 50px 10px 50px;
}
.footer__col {
  width: 25%;
  padding: 15px 15px;
}
.footer__text {
  text-decoration: none;
  font-weight: 100;
  font-size: 14px;
  color: #cacaca;
  opacity: 0.75;
}
.footer__col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer__col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer__col ul li:not(:last-child) {
  margin-bottom: 10px;
}
/*li CSS*/
.footer__col ul li a {
  font-size: 14px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 100;
  /* color: #bbbbbb; */
  display: block;
  opacity: 0.5;
  transition: all 0.3s ease;
}
.footer__col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
  opacity: 1;
}
/*Span inside li CSS*/
.footer__col ul li span {
  font-size: 14px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 100;
  /* color: #bbbbbb; */
  /* display: block; */
  opacity: 0.5;
  transition: all 0.3s ease;
}
.footer__col ul li span:hover {
  color: #ffffff;
  padding-left: 8px;
  opacity: 1;
  cursor: pointer;
}

.footer__col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(42, 0, 120, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer__col .social-links a:hover {
  color: #002c8f;
  background-color: #ffffff;
}
.footer__bottom {
  width: 100%;
  height: 20px;
  border: #e91e63 2px solid;
  position: relative;
  bottom: 0px;
}
.goTop {
  /* border: #e91e63 2px solid; */
  line-height: 40px;
  font-size: 25px;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
}
.fa-arrow-up {
  color: #002c8f;
}
.goTop:hover {
  opacity: 0.7;
  color: #fff;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
/*responsive*/
@media (max-width: 767px) {
  .footer__col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer__col {
    width: 100%;
  }
  .copyright {
    font-size: 13px;
  }
}
